.Load {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: none;
  opacity: 0;
  transition-duration: 100ms;
  transition-property: all;
  display: block;
  opacity: 1;
  z-index: 99999;

  .background {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: #3A4353; /* Old browsers */
    background: -webkit-linear-gradient(top, #353743 68%, #464853 100%); /* Chrome10-25,Safari5.1-6 */
  }

  img {
    width: 180px;
  }

  .content {
    position: absolute;
    top: 42%;
    left: 36%;
    display: flex;
    flex-direction: row;

    .right {
      margin-left: 20px;
      white-space: nowrap;
      span.header {
        justify-content: right;
        color: white;
        font-size: 72px;
        font-weight: bold;

        small {
          font-size: 72px;
          font-weight: 100;
        }
      }

      span {
        font-size: 25px;
        color: #dadada;
        font-weight: 100;
      }
    }
  }
}
