.Load {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: none;
  opacity: 0;
  transition-duration: 100ms;
  transition-property: all;
  display: block;
  opacity: 1;
  z-index: 99999;
}

.Load .background {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: #3A4353; /* Old browsers */
  background: -webkit-linear-gradient(top, #3A4353 68%, #4A5568 100%); /* Chrome10-25,Safari5.1-6 */
}

.Load .image {
  top: 0px;
  left: 0px;
  right: 0px;
  position: fixed;
}

.Load .image .lds-css {
  margin: calc(50vh - 100px) calc(50vw - 50px) 0px;
}

.Load h5 {
  color: #fff;
}

@keyframes lds-rolling {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@-webkit-keyframes lds-rolling {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.LoadImage .lds-rolling div,
.LoadImage .lds-rolling div:after {
  position: absolute;
  width: 50px;
  height: 50px;
  border: 4px solid #dbdbdb;
  border-top-color: #ffffff;
  border-radius: 50%;
}

.LoadImage .lds-rolling div {
  -webkit-animation: lds-rolling 3.4s linear infinite;
  animation: lds-rolling 1s linear infinite;
  top: 50px;
  left: 50px;
}

.LoadImage .lds-rolling div:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.LoadImage .lds-rolling {
  width: 100px !important;
  height: 100px !important;
  -webkit-transform: translate(-50px, -50px) scale(1) translate(50px, 50px);
  transform: translate(-50px, -50px) scale(1) translate(50px, 50px);
}

.LoadImage .lds-rolling div,
.LoadImage .lds-rolling div:after {
  position: absolute;
  width: 50px;
  height: 50px;
  border: 4px solid #ececec;
  border-top-color: lightgreen;
  border-radius: 50%;
}

.Load .text-center {
  text-align: center;
  font-size: 22px;
}
