.Layout {
  background-color: #353743;
  min-height: 100vh;

  .content {
    max-height: 100vh;
    overflow: auto;
    margin-left: 300px;

    span {
      font-size: 26px;
      color: #4A5568;
    }
  }

  .children_content {
    margin: 40px;
  }

  .paginate {
    cursor: pointer;
    .forward {
      position: absolute;
      bottom: 0;
      right: 0;
    }

    .back {
      position: absolute;
      bottom: 0;
    }

    svg {
      color: white;
    }

    .box {
      display: flex;
      background-color: #EF6025;
      width: 150px;
      height: 150px;
      justify-content: center;
      align-items: center;
      border-color: transparent;
    }
  }
}