.Layout {
  background-color: #353743;
  min-height: 100vh;

  .content {
    overflow-y: auto;
    margin-left: 300px;
  }

  @media (max-width: 768px) {
    .content {
      margin-left: 0px;
    }
  }

  .children_content {
    margin: 90px 20px 0px;
  }

  .paginate {
    cursor: pointer;
    .forward {
      position: absolute;
      bottom: 0;
      right: 0;
    }

    .back {
      position: absolute;
      bottom: 0;
    }

    svg {
      color: white;
    }
  }
}