.Sidebar {
  hr {
    border: 1px solid #8E8F96;
  }

  section {
    padding: 10px 30px;
    color: white;
    background-color: #43444F;
    width: 300px;
    min-height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;

    ul {
      list-style: none;
      li {
        margin-left: -30px;
      }
    }

    .github-info {
      position: fixed;
      bottom: 0;
      margin-bottom: 50px;

      span {
        font-size: 22px;
      }
    }

    .counters {
      .count {
        margin-top: 10px;
      }

      p {
        color: #8E8F96;
        font-weight: 400;
      }
      span {
        font-size: 36px;
      }
    }

    .footer {
        span {
          font-weight: 600;
        }

        ul {
          margin-top: 10px;
          li {
            font-size: 18px;
          }
        }
    }
  }

  @media (max-width: 768px) {
    section {
      display: none;
    }
  }
}