@font-face {
  font-family: 'digital-7';
  src: url('./assets/fonts/digital_7/digital-7.ttf');
}

.timer {
  span {
    color: #ffffff;
    font-size: 70px;
    font-family: 'digital-7', sans-serif;
  }
}

p {
  font-size: 18px;
  font-weight: 600;
}

.App {
  margin: 0;
}

.gray {
  color: #8E8F96;
}

.layout {
  background-color: #353743;
  height: 100vh;
  position: relative;

  .right {
    margin-left: 300px;
  }

  .sidebar {
    background-color: #464853;
    width: 350px;
    height: 100vh;

    .content {
      padding-top: 50px;
    }
  }
}

